.messageBox {
    display: flex;
    align-items: end;
    margin: 20px 0;
    background-color: greenyellow;
    max-width: 450px;
    border-radius: 7px;
    margin-left: 15px;
}

.ava {

}

.ava img {
    width: 100px;
    height: 100px;
    border: 1.5px solid green;
    border-radius: 50%;
    margin: 50px 0 0 5px;
}

.dialog {
    position: relative;
    margin: 10px 10px;
    background-color: darkslateblue;
    border-radius: 7px;
}

dialog::after {
    position: absolute;
    content: '';
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid darkslateblue;
    border-left: 20px solid transparent;

}

.dialogInf {
    /*max-width: 250px;*/

}

.dialogInf h2 {
    color: dodgerblue;

}

.dialogInf p {
    color: grey;

}

.timeWindow {
    color: darkolivegreen;

}